<div class="container" >
  <div *ngIf="!showRegistrationForm" class="button-container">
    <!-- Sección de Inicio de Sesión -->
    <form (submit)="login()">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required>
  
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
  
      <button type="submit" routerLink = "/inicio" routerLinkActive="active" >Iniciar Sesión</button>
      <button type="submit" (click)="showRegistrationForm = true">Crear Cuenta</button>
    </form>
  </div>

  <div *ngIf="showRegistrationForm">
    <!-- Sección de Registro -->
    <form (submit)="register()">
      <label for="fullName">Nombre completo:</label>
      <input type="text" id="fullName" name="fullName" [(ngModel)]="registrationData.fullName" required>
  
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" [(ngModel)]="registrationData.username" required>
  
      <label for="newEmail">Correo electrónico:</label>
      <input type="email" id="newEmail" name="newEmail" [(ngModel)]="registrationData.email" required>
  
      <label for="newPassword">Contraseña:</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="registrationData.password" required>
  
      <button type="submit" routerLink = "/inicio" routerLinkActive="active" >Crear Cuenta</button>
    </form>
  </div>
</div>



